@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon</h1>
 <!-- 1. Link Text, 2. Route, 3. Controller  -->
<p>@Html.ActionLink("Add A Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Add A Stylist", "Create", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>