@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon</h1>
@* 1. Link Text, 2. Route, 3. Controller *@
<!-- <p>@Html.ActionLink("See all items", "Index", "Items")</p>  -->
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>