@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@* <p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ClientId })</p>. *@
@Html.ActionLink("Back to List", "Index")