@{
  Layout = "_Layout";
}

<!-- @* @using  ToDoList.Models; *@ -->
@model HairSalon.Models.Client;

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>